<% @page_title = "About Us" %>

<div class="row">
 <div class="col-lg-12">
  <h2>About Us</h2>
  <p>Project Management Information System (PMIS) is a web application manage by <%= @department.name %>.
     PMIS is currently being develop by Ryan, an Informatics student of the Univeristy of Sussex, under the
     supervision of Mr. Andy Holyer.
  </p>
  <p>
    Cras ligula velit, sollicitudin sit amet arcu mollis, commodo malesuada est. Integer facilisis augue quam, sed dapibus ante rutrum ut. Etiam nec dui odio. Cras ac eros vulputate nisi dapibus auctor. Phasellus justo nisi, gravida et venenatis ut, suscipit id est. Suspendisse quis pulvinar sem, ac volutpat ante. Nullam aliquet consequat odio quis condimentum. Suspendisse consectetur ante sem, in bibendum nisl adipiscing eget. Integer tristique tincidunt porttitor. Vivamus cursus neque quis lacinia iaculis. Cras malesuada aliquam iaculis.
  </p>
  <p>
    In blandit laoreet dapibus. Sed rutrum quam turpis, euismod sodales massa aliquam in. Cras quis malesuada tellus. Proin fringilla viverra massa, sit amet condimentum diam bibendum vel. Morbi sagittis nulla ut nunc facilisis pharetra. Nunc aliquam turpis tempus ligula aliquam eleifend. In quis lacus elementum, scelerisque urna vel, tincidunt diam. Nam quis rutrum felis. Nunc hendrerit lorem vitae nulla ultricies, et dictum felis pharetra. Quisque id augue at urna pellentesque luctus nec at neque. Sed in massa et lacus luctus semper et quis tortor.
  </p>
  
 </div>
</div>
