<% @page_title = "Contact Us" %>

<div class="row">
 <div class="col-lg-12">
  <h2>Contact Us</h2>
  <ul>
   <li class="glyphicon glyphicon-home">Address: <%= @city.address + ', ' + @city.name + ', ' + @city.postcode %></li><br/>
   <li class="glyphicon glyphicon-phone-alt">Telephone: <%= @city.telephone %></li><br/>
   <li class="glyphicon glyphicon-globe">Website: <%= @city.website %></li><br/>
   <li class="glyphicon glyphicon-envelope">Email: <%= @city.email %></li><br/>
  </ul>
 </div>
</div>
