<% @page_title = @city.name %>
<div class="jumbotron">
 <h1>Welcome to the PMIS - <%= @city.name %></h1>

 <p>Praesent feugiat neque ante, quis dapibus magna lacinia in.
    Integer mollis malesuada laoreet. Quisque venenatis diam quis
    mauris fermentum adipiscing.
    </p>
    <p><%= link_to "Learn more", about_docus_path, :class => "btn btn-primary btn-lg" %></p>
 <div class="col-md-6">
  <h3>Vision</h3>
  <p><%= @city.vision %></p>
 </div>

 <div>
  <h3>Mission</h3>
  <p><%= @city.mission %></p>
 </div>
</div>

