<% @page_title = "Delete Issue" %>

<div> 
 <%= link_to("Back to list", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="issue delete">
 <h2>Delete Issue</h2>

 <%= form_for(@issue, :action => 'destroy') do |f| %>

  <p>Are you sure you want to permanently delete this issue?</p>

  <p class="reference-name"><%= @issue.title %></p>

  <div>
   <%= submit_tag("Delete Issue", :class => "btn btn-danger btn") %>
  </div>

 <% end %>
</div>
