<% @page_title = "Edit Issue" %>
<div> 
 <%= link_to("Back to list", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="issue edit">
 <h2>Edit Issue</h2>

 <%= form_for(:issue, :url => {:action => 'update', :id => @issue.id}, :html => {:role => "form"}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div class="form-buttons">
   <%= submit_tag("Update Issue", :class => "btn btn-default") %>
  </div>

 <% end%>
</div>
