<% @page_title = "Create Issue" %>
<div> 
 <%= link_to("Back to list", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="issue create">
 <h2>Create Issue</h2>

 <%= form_for(:issue, :url => {:action => 'create'}, :html => {:role => "form"}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div class="form-buttons">
   <%= submit_tag("Create Issue", :class => "btn btn-default") %>
  </div>

 <% end%>
</div>
