<% @page_title = "Issue" %>
<div id="pads"> 
 <%= link_to("Back to list", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="panel panel-default">
 <div class="panel-heading">
  Show issue
 </div>

 <table class="table" summary="issue detail view">
  <tr>
   <th>Title</th>
   <td><%= @issue.title %></td>
  </tr>
 <tr>
   <th>Implication</th>
   <td><%= @issue.implication %></td>
  </tr>
 <tr>
   <th>Intervention</th>
   <td><%= @issue.intervention %></td>
  </tr>
 </table>
</div>

