<% @page_title = "Delete a department" %>

<%= link_to("<< Back to list", {:action => 'index'}) %>

<div class="departments delete">
 <h2>Delete Department</h2>

 <%= form_for(:department, :url => {:action => 'destroy', :id => @department.id}) do |f| %>

  <p>Are you sure you want to permanently delete this department?</p>

  <p class="reference-name"><%= @department.name %></p>

  <div class="form-buttons">
   <%= submit_tag("Delete Department") %>
  </div>

 <% end %>
</div>
