<% @page_title = "Edit Project" %>
<div> 
 <%= link_to("Back to list", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="project edit">
 <h2>Edit Project</h2>

 <%= form_for(@project, :html => {:role => "form"}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div class="form-buttons">
   <%= submit_tag("Update Project", :class => "btn btn-default") %>
  </div>

 <% end%>
</div>
