<% @page_title = "New Project" %>

<div>
 <%= link_to("Back to list", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="project new">
 <h2>New Project</h2>

  <%= form_for(:project, :url => {:action => 'create'}, :html => {:role => "form"}) do |f| %>
   
   <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div class="form-group">
   <div class="col-sm-2"></div>
   <div class="col-sm-10">
    <%= submit_tag("Update Project", :class => "btn btn-default") %>
   </div>
  </div>

 <% end %>
</div>
