<% @page_title = "New Project" %>

<div>
 <%= link_to("Back to list", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="project new">
 <h2>New Project</h2>

  <%= form_for(:project, :url => {:action => 'create'}, :html => {:role => "form"}) do |f| %>
   
   <%= render(:partial => 'form', :locals => {:f => f}) %>

   <%= submit_tag("Create Project", :class => "btn btn-default") %>

 <% end %>
</div>
