<!DOCTYPE html>
<html>
 <head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
  <h1>Hi <%= @user.first_name %>, "<%= @ppa.title %>" is running late and requires report</h1>
  <p>
   The project is running late and requires your attention.
   Please submit a report regarding any issue that made
   it late.
  </p>
  <p>
  To see the project, just follow this link: <a href=<%= @url %>><%= @url %></a>.
  </p>
  <p>
   If you experience any problem accessing the link, please
   contact the site administrator or the MPDO.
  </p>
 </body>
</html>
