<% @page_title = "Criterium" %>
<div id="pads"> 
 <%= link_to("Back to list", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="panel panel-default">
 <div class="panel-heading">
  Show Criterium
 </div>

 <table class="table" summary="criterium detail view">
  <tr>
   <th>Criteria</th>
   <td><%= @rank_criterium.criteria %></td>
  </tr>
  <tr>
   <th>Description</th>
   <td><%= @rank_criterium.description %></td>
  </tr>
  <tr>
   <th>Weight</th>
   <td><%= @rank_criterium.weight %></td>
  </tr>
 </table>
</div>

