<% @page_title = "Edit Risk" %>
<div> 
 <%= link_to("Back to list", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="risk edit">
 <h2>Edit Risk</h2>
 <!-- :risk, :url => {:action => 'create', :id => @risk.id} -->
 <%= form_for([@riskiness, @risk], :html => {:role => "form"}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div class="form-buttons">
   <%= submit_tag("Create Risk", :class => "btn btn-default") %>
  </div>

 <% end%>
</div>
