<% @page_title = "Edit the  city" %>
<div> 
 <%= link_to("Back", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="city edit">
 <h2>Edit City</h2>
 
 <%= form_for(@city, :html => {:role => "form"}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div class="form-group">
   <div class="col-sm-2"></div>
   <div class="col-sm-10">
   <%= submit_tag("Update City", :class => "btn btn-default") %>
  </div>
  </div>

 <% end%>
</div>
