<% @page_title = "Edit Activity" %>
<div> 
 <%= link_to("Back to list", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="activity edit">
 <h2>Edit Activity</h2>

 <%= form_for(:activity, :url => {:action => 'update', :id => @activity.id}, :html => {:role => "form"}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div>
   <%= submit_tag("Update Activity", :class => "btn btn-default") %>
  </div>

 <% end%>
</div>
