<% @page_title = "New Activity" %>
<div> 
 <%= link_to("Back to list", {:action => "index"}, :class => "btn btn-primary") %>
</div>

<div class="activity new">
 <h2>New Activity</h2>

 <%= form_for(:activity, :url => {:action => 'create'}, :html => {:role => "form"}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div>
   <%= submit_tag("Create Activity", :class => "btn btn-default") %>
  </div>
 <% end %>
</div>
