 <div class="container">
  <div class="row">
   <div class"col-lg-12">
    <p class="navbar-text pull-left"><span class="glyphicon glyphicon-copyright-mark"></span>  ryandelmo.com / Ryan Delmo</p>   
   </div>
  </div>
</div>
